@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: 'Poppins',sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e1e1;
    transition: all 0.3s ease-in-out;
}

.container.dark {
    background: #3e4d59;
}

.heading-title{
    color: #f6f1f1;
    background: none;
    /* margin-left: 110px; */
}

.toggle-bar{ 
    height : 30px;
    width: 80px;
    background-color: #e9e0e0;
    margin-left: 13px;
    border-radius: 20px;
    cursor: pointer;
} 

.toggle-bar::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #385cd3;
    border-radius: 50%;
    top:50%;
    left: 185px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggle-bar.active::before {
    left:235px;
    background-color: #3e4d59;
}

.heading{
    display: flex;
    position: absolute;
    background: none;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
}

.calculator{
    background-color: #28343f;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #897979,
                      5px 5px 12px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #32e951;
    box-shadow: inset -5px -5px 12px #888686,
                inset 5px 5px 12px rgba(0,0,0,0.16);
    font-weight: 500;
    font-size: 45px;
    border: none;
    border-radius: 20px;
    color: rgb(70,70,70);
    text-align: end;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 25px;
    padding: 10px;
}

button{
    height: 48px;
    width: 48px;
    background-color: #28343f;
    box-shadow: inset 5px 5px 12px #41586a,
                      5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 50%;
    color: #ecf0f3;
    margin: 8px;
    font-size: 16px;
}

.equal{
    width: 3.8rem;
    border-radius: 60px;
    margin-left: -0.09px;
    background-color: #32b8e9;
    box-shadow: inset 5px 5px 12px #51878f,
                      5px 5px 12px rgba(0,0,0,0.16);
}

.plus{
    grid-row: span 4;    
    height: 7rem;
    border-radius: 10px;
    background-color: #32e951;
    box-shadow: inset 5px 5px 12px #479061,
                      5px 5px 12px rgba(0,0,0,0.16);
} 

.delete{
    background-color: #dd2b2b;
    box-shadow: inset 5px 5px 12px #904b47,
                      5px 5px 12px rgba(0,0,0,0.16);
}

.clear{
    background-color: #dde932;
    box-shadow: inset 5px 5px 12px #899047,
                      5px 5px 12px rgba(0,0,0,0.16);
    color: #28343f;
}
